<html>

<head>
    <script src="https://d3js.org/d3.v4.js"></script>
    <style>
        .column {
            float: left;
            width: 50%;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .chart-container {
            width: 100%;
            height: 60%;
            border: 1px dotted silver;
        }
    </style>
</head>

<body>
    <div class="row">
        <div class="column">
            <h1>Time Odometer</h1>
            <div class="chart-container"></div>
        </div>
    </div>
    <script>

        function buildTimeOdometer(startTime, endTime) {
            var steps = 10;
            var timeDiff = getTimeDifference(startTime, endTime);
            var tau = 2 * Math.PI, startAngle = 3.1,
                width = 100,
                height = 100,
                outerRadius = 30,
                innerRadius = (outerRadius / 5) * 3,
                fontSize = innerRadius / 6;

                var arc = d3.arc()
                            .innerRadius(innerRadius)
                            .outerRadius(outerRadius)
                            .startAngle(startAngle);

                var svg = d3.select('.chart-container').append("svg")
                    .attr("width", '100%')
                    .attr("height", '100%')
                    .attr('viewBox', 
                           '0 0 ' + Math.min(width, height) + ' ' + Math.min(width, height))
                    .attr('preserveAspectRatio', 'xMinYMin')
                    .append("g")
                    .attr("transform",
                           "translate(" + Math.min(width, height) + "," + Math.min(width, height) / 2 + ")");
        
                svg.append("circle")
                    .attr("r", outerRadius + 20)
                    .attr("fill", "#FFA9A9"); // outer circle

                svg.append("circle")
                    .attr("r", innerRadius)
                    .attr("fill", "black") // middle black
                    .attr("stroke-width", 3)
                    .attr("stroke", "#b50909"); // stroke for middle black

                // Define the gradient
                var gradient = svg.append("defs")
                    .append("linearGradient")
                    .attr("id", "gradient")
                    .attr("x1", "0%")
                    .attr("y1", "0%")
                    .attr("x2", "100%")
                    .attr("y2", "100%");

                // Define the gradient colors
                gradient.append("stop")
                    .attr("offset", "0%")
                    .attr("stop-color", "#ff0000")
                    .attr("stop-opacity", 1);

                gradient.append("stop")
                    .attr("offset", "90%")
                    .attr("stop-color", "#2d0101")
                    .attr("stop-opacity", 1);

                var titleText1 = svg.append("text")
                    .text('TIME LEFT')
                    .attr("text-anchor", "middle")
                    .attr("fill", "#8e7777")
                    .style("font-size", fontSize + 'px')
                    .attr("dy", -innerRadius / 2)
                    .attr("dx", 0);

                var durationTitle = svg.append("text")
                                    .attr("fill", "#8e7777")
                                    .style("font-size", (fontSize+1) + 'px')
                                    .attr("dy", -innerRadius / 12).attr("dx", -8)
                                    .text("Hrs : Min");

                var valueText = svg.append("text")
                    .attr("text-anchor", "middle")
                    .attr("fill", "white")
                    .style("font-size", (fontSize + 5) + 'px')
                    .attr("dy", innerRadius / 3)
                    .attr("dx", 0).text("00:00");

                var arcGroup = svg.append("g");

                var background = arcGroup.append("path")
                    .datum({
                        startAngle: startAngle,
                        endAngle: -tau
                    })
                    .attr("class", "arc")
                    .style("fill", "black")
                    .attr("d", arc);

                var foreground = arcGroup.append("path")
                    .datum({
                        endAngle: 0 
                    })
                    .attr("class", "arc")
                    .style("fill", "url(#gradient)")
                    .attr("d", arc);
     
                var outerLabels = arcGroup.append("g");

                var i;
                for (i = 0; i < 0.9; i = i + 0.1) {
                    outerLabels.append("text")
                        .attr("transform", function () {
                            var nA = 90 + (i * 360);
                            return 'rotate(' + nA + ')';
                        })
                        .attr("dy", i)
                        .attr("dx", 40)
                        .style("text-anchor", "middle")
                        .style("font-size", '5px')
                        .style("fill", "black")
                        .text(function () {
                            return "--";
                        });
                }
                var updateTime = function(){
                    var timeLeft = getTimeLeft(endTime);
                    var timeLeftAsDT = convertMS(timeLeft); 
                    if(timeLeftAsDT.h < 1){
                        valueText.text(timeLeftAsDT.m + ":" + timeLeftAsDT.s);
                        durationTitle.text("Min : Sec");
                    }
                    else{
                        valueText.text(timeLeftAsDT.h + ":" + timeLeftAsDT.m);
                    }
                    foreground.transition()
                              .call(arcTween, startAngle, (timeLeft / timeDiff) * tau, 
                                    valueText, arc);
                };
                
                updateTime();
                
                setInterval(function(){
                    updateTime()
                }, 1000);
        }

        function arcTween(transition, startAngle, newAngle, valueText, arc) {
            transition.attrTween("d", function (d) {
                var interpolate = d3.interpolate(d.endAngle, newAngle);
                return function (t) {
                    d.endAngle = interpolate(t) + startAngle;
                    return arc(d);
                };
            });
        }

        function getTimeLeft(endTime){
            var endDT = new Date();
            endTime = endTime.split(":");
            endDT.setHours(endTime[0]);
            endDT.setMinutes(endTime[1]);
            endDT.setSeconds(0);
            return endDT - new Date();
        }

        function getTimeDifference(startTime, endTime){
            var startDT = new Date();
            startTime = startTime.split(":");
            startDT.setHours(startTime[0]);
            startDT.setMinutes(startTime[1]);
            var endDT = new Date();
            endTime = endTime.split(":");
            endDT.setHours(endTime[0]);
            endDT.setMinutes(endTime[1]);
            return endDT - startDT;
        }

        function convertMS(duration) { 
            var milliseconds = parseInt((duration%1000)/100)
                , seconds = parseInt((duration/1000)%60)
                , minutes = parseInt((duration/(1000*60))%60)
                , hours = parseInt((duration/(1000*60*60))%24);

            hours = (hours < 10) ? "0" + hours : ""+hours;
            minutes = (minutes < 10) ? "0" + minutes : ""+minutes;
            seconds = (seconds < 10) ? "0" + seconds : ""+seconds;
            return { h: hours, m: minutes, s: seconds };
        };

        buildTimeOdometer("8:30", "10:30");
    </script>
</body>

</html>